[submodule "lib/ds-test"]
	path = lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "lib/geb-chainlink-median"]
	path = lib/geb-chainlink-median
	url = https://github.com/reflexer-labs/geb-chainlink-median
